//theme 3
$theme-dark: #313d4c;
$theme-gray-dark: #262d37;
$theme-gray-light: #bcc4cc;
$theme-blue: #b3d1fd;
$theme-blue-dark: #265c82;
$theme-blue-med: #607d8b;
$theme-orange-light: #f4c786;
$theme-orange: #f0ad4e;
$theme-orange-dark: darken($theme-orange, 15%);




// Prefix all colors for use outside of this file with $clr and with a generic
// name so we can switch the theme out easily.
$clr-black: #000000;
$clr-white: #ffffff;
$clr-alert: #981b1e;

$clr-btn-primary: $theme-blue-dark;
$clr-btn-primary-hover: lighten($clr-btn-primary, 5%);
$clr-btn-secondary: $theme-dark;
$clr-btn-secondary-hover: lighten($clr-btn-secondary, 5%);

$clr-dark: $theme-gray-dark;

$clr-background: $theme-dark;
$clr-txt: lighten($theme-gray-light, 20%);
$clr-highlight: $theme-orange-light;
$clr-blue-bright: #0000cc;
$clr-gray-dark-lighten: lighten($theme-gray-dark, 5%);

$clr-links-out: $clr-white;
$clr-links-hover: lighten($clr-links-out, 25%);

$clr-background: $theme-gray-dark;
$clr-background-alt: $theme-dark;
$clr-txt: $theme-gray-light;
$clr-highlight: $theme-orange;


$action-color: $theme-blue-dark !default;
$expander-arrow-width: 0.7em;
$expander-toggle-size: 1em;
$expander-toggle-arrow-size: $expander-toggle-size;
$expander-toggle-margin: 1em;
