.field-container {
    margin-top: 20px;
    position: relative;
    width: 200px;
}

input {
    background: $theme3-gray-light;
    display: block;
    padding: 25px 10px 0;
    width: 100%;

    &:valid + label {
        color: $theme3-gray-dark;
        opacity: 50;
    }
}

label {
    left: 10px;
    opacity: 0;
    padding: 0 2px;
    pointer-events: none;
    position: absolute;
    top: 5px;
    transition: 0.2s ease-in-out;
}

::placeholder {
    color: $theme3-gray-dark;
}

input:focus + label {
    color: $theme-nasic-orange;
}
