//@extend-elements
//original selectors
//input:focus ~label, textarea:focus ~label, input:valid ~label, textarea:valid ~label
%extend_1 {
    color: $theme-gray-light;
    font-size: 0.75em;
    top: -18px;
    transition: all 0.225s ease;
}

input {
    background: none;
    border-color: $theme-blue-dark;
    border-radius: 2px;
    border-width: 0 0 2px 0;
    color: $clr-white;
    font-size: 1rem;
    padding: 18px 0 6px 0;
    width: 100%;

    &:focus {
        border-color: $theme-orange-dark;
        outline: 0;

        ~ label {
            @extend %extend_1;
		    }

        ~ span {
            transition: all 0.075s ease;
            width: 100%;
        }
    }

    &:valid ~ label {
        @extend %extend_1;
    }
}

textarea {
    background: none;
    border-color: $theme-blue-dark;
    border-radius: 2px;
    border-width: 0 0 2px 0;
    color: $clr-white;
    font-size: 1rem;
    padding: 18px 10px 6px 10px;

    &:focus {
        border-color: $theme-orange-dark;
        outline: 0;

        ~ label {
            @extend %extend_1;
		    }

        ~ span {
            transition: all 0.075s ease;
            width: 100%;
            }
    }

    &:valid ~ label,
    &:invalid ~ label {
        @extend %extend_1;
    }
}

.input-styles {
    border-radius: 2px;
    margin: 1rem 0;
    position: relative;
    width: 293px;

    label {
        color: $theme-gray-light;
        left: 0;
        padding: 1.3rem 0 1rem 0;
        pointer-events: none;
        position: absolute;
        top: -5px;
        transition: all 0.25s ease;
    }
}

@media only screen and(max-width: 768px) {
    .styled-input {
        width: 100%;
    }
}
