

nav {
    background-color: $theme-dark;
    height: 48px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;

    a {
        display: block;
        float: left;
        padding: 14px 20px;
        text-align: center;
        text-decoration: none;

        .active
        {
            background-color: $theme-orange-light;
            color: $clr-black;
        }

        &:hover
        {
            background-color: $theme-orange-light;
            color: $clr-black;
            text-decoration: none;
        }
    }

    img {
        float: left;
        padding: 9px 30px 9px 15px;
    }

    p {
        float: right;
        padding-right: 15px;
    }
}

nav .active {
    background-color: $theme-blue;
    color: $clr-black;
}
