
body {
    background: $clr-background;
    color: $clr-txt;
}

a {
    color: $theme3-blue;
    text-decoration: none;

    &:hover {
        color: $clr-links-hover;
        text-decoration: underline;
    }
}
