@font-face {
    font-family: 'raleway';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light-webfont.svg#ralewaylight') format('svg');

}

@font-face {
    font-family: 'raleway';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/raleway-bold-webfont.eot');
    src: url('../fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff'),
         url('../fonts/raleway-bold-webfont.ttf') format('truetype'),
         url('../fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
}

$font-stack-headline: 'raleway', sans-serif !default;
$font-stack-body: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

html,
body {
    font-family: $font-stack-body;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4em;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-stack-headline;
    font-weight: normal;
    margin: 1.1em 0 0.6em;
}

h1 {
    font-size: 1.7em;
}
