//Submit Button
// Variables
$speed: '0.25s';
$transition: all #{$speed} cubic-bezier(0.310, -0.105, 0.430, 1.400);
/* Main Styles */
.button {
    border-radius: 2px;
    bottom: 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .05);
    color: $clr-white;
    cursor: pointer;
    height: 40px;
    left: 0;
    line-height: 40px;
    margin: 6px;
    overflow: hidden;
    position: relative;
    right: 0;
    top: 20px;
    width: 170px;
}

.btn-primary {
    background-color: $clr-btn-primary;
    border: $theme3-dark;

    &:hover {
        background-color: $clr-btn-primary-hover;
    }
}

.btn-secondary {
    background-color: $clr-btn-secondary;
    border: $theme3-dark;

    &:hover {
        background-color: $clr-btn-secondary-hover;
    }
}
