
//Media query
$small-grid: (
    columns: 12,
    gutter: 50px,
);

$medium-grid--tablet-up: (
    columns: 12,
    gutter: 50px,
    media: '(min-width: 768px)',
);

$large-grid--large: (
    columns: 12,
    gutter: 50px,
    media: '(min-width: 920px)',
);

$xlarge-grid--xlarge: (
    columns: 12,
    gutter: 50px,
    media: '(min-width: 1200px)',
);

main {
    @include grid-container;
}

section {
    @include grid-column(12, $small-grid);
    margin-bottom: 3.5rem;

    &:last-of-type {
        margin-bottom: 4.5rem;
    }
}

.collapse-col {
    @include grid-collapse($small-grid);
}

//color-palette
.color-boxes {
    @include grid-column(12, $small-grid);

    @include grid-media($medium-grid--tablet-up) {
        @include grid-column(4);
    }

    @include grid-media($large-grid--large) {
        @include grid-column(2);
    }
}

//typography
.typography {
    h1,
    h2,
    h3,
    h4,
    p {
        @include grid-column(12, $small-grid);
        margin-bottom: 2rem;

        @include grid-media($medium-grid--tablet-up) {
            @include grid-column(4);
        }

        @include grid-media($xlarge-grid--xlarge) {
            @include grid-column(2);
        }
    }
}

//Code blocks
.code-block {
    @include grid-column(12, $small-grid);
    margin-bottom: 2rem;

    @include grid-media($large-grid--large) {
        @include grid-column(6);
    }
}

.library {
    background-color: $clr-background;
}

main section:first-of-type {
    padding: 65px 0 0 0;
}


//Footer
footer section {
    @include grid-column(12, $small-grid);
    margin-bottom: 2rem;

    @include grid-media($large-grid--large) {
        @include grid-column(4);
    }
}


.filterbox {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
}
