
//Media query
//Color-Palette
$small-grid: (
    columns: 12,
    gutter: 50px,
);

$medium-grid--tablet-up: (
    columns: 12,
    gutter: 50px,
    media: '(min-width: 768px)',
);

$large-grid--large: (
    columns: 12,
    gutter: 50px,
    media: '(min-width: 920px)',
);

$xlarge-grid--xlarge: (
    columns: 12,
    gutter: 50px,
    media: '(min-width: 1200px)',
);

.color-boxes {
    @include grid-column(12, $small-grid);
    margin-bottom: 2rem;

    @include grid-media($medium-grid--tablet-up) {
        @include grid-column(4);
    }

    @include grid-media($large-grid--large) {
        @include grid-column(2);
    }
}

section {
    @include grid-container;
    margin: 20px 0;
}

//typography
.typography {
    h1,
    h2,
    h3,
    h4,
    p {
        @include grid-column(12, $small-grid);
        margin-bottom: 2rem;

        @include grid-media($medium-grid--tablet-up) {
            @include grid-column(4);
        }

        @include grid-media($xlarge-grid--xlarge) {
            @include grid-column(2);
        }
    }
}

.library {
    background-color: $clr-background;
}


//Footer

.footer {
    padding: 1em 2em;
}

.filterbox {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
}
